.toolbar-container {
  width: calc(100% - 10px);
  left: 5px;
  bottom: 5px;
  padding: 0px 20px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: var(--PrimaryColor);
  z-index: 1000;

  h1 {
    font-size: 25px;
    font-weight: 900;
    color: var(--SecondaryColor);
    display: flex;
    align-items: center;

    .badge {
      background-color: var(--SecondaryColor);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 600;
      color: var(--PrimaryColor);
      margin: 0px 0px 0px 10px;
    }
  }
  button {
    width: 45px;
    height: 45px;
    box-shadow: none;
    background-color: var(--SecondaryColor);
    color: var(--PrimaryColor);
  }
}
