<div class="albums-container">
  <div class="content">
    @for (album of albums; track $index) {
    <div
      [title]="album.name"
      class="folder"
      [routerLink]="['/gallery/', getEventId(), album._id]"
      (longPress)="editAlbum()"
    >
      <svg-icon [svgName]="'album'" [color]="album.color"></svg-icon>
      <p>{{ album.name | titlecase }}</p>
      @if (album.password) {
      <div class="badge"><i class="fa-solid fa-lock"></i></div>
      }
    </div>

    }
  </div>

  <popup
    [visible]="!!action()"
    (visibleChange)="clearAction()"
    [animation]="PopupAnimation.SlideUp"
    [width]="'100%'"
    [height]="'auto'"
    [title]="actionTitle()"
    [actionButtons]="actionButtons()"
  >
    @switch (action()) { @case (Action.ADD) { } @case (Action.UPDATE) { } @case
    (Action.DELETE) {} }
  </popup>

  <toolbar
    [title]="'Albums'"
    [action]="addAlbum"
    [badgeCount]="albums.length"
  ></toolbar>
</div>
