<div class="albums-container">
  <div class="content">
    @for (album of albums; track $index) {
    <div
      [title]="album.name"
      class="folder"
      [routerLink]="['/gallery/', getEventId(), album._id.toString()]"
      (longPress)="openContextMenu($event, album._id)"
    >
      <svg-icon [svgName]="'album'" [color]="album.color"></svg-icon>
      <p>{{ album.name | titlecase }}</p>
      @if (album.mediaCount) {
      <p>{{ album.mediaCount }}</p>
      } @if (album.password) {
      <div class="badge"><i class="fa-solid fa-lock"></i></div>
      }
    </div>

    }
  </div>

  <popup
    [visible]="!!action()"
    (visibleChange)="clearAction()"
    [animation]="PopupAnimation.SlideUp"
    [width]="'100%'"
    [height]="'auto'"
    [title]="actionTitle()"
    [actionButtons]="actionButtons()"
  >
    @switch (action()) { @case (Action.ADD) { } @case (Action.UPDATE) { } @case
    (Action.DELETE) {} }
  </popup>

  <context-menu
    [(visible)]="contextMenuVisible"
    [position]="contextMenuPosition()"
    [menuItems]="contextMenuItems()"
  ></context-menu>

  <toolbar
    [title]="'Albums'"
    [actionTitle]="'New Album'"
    [actionIcon]="'fa-solid fa-circle-plus'"
    [action]="addAlbum"
    [badgeCount]="albums.length"
  ></toolbar>
</div>
