<div class="navigation-container">
  <div class="navigation-content">
    <ng-content></ng-content>
  </div>
  <div class="navigation-toolbar">
    <a routerLink="/"><i class="fa-regular fa-calendar"></i>Events </a>
    <ng-container *ngIf="eventId()">
      <span>/</span>
      <a [routerLink]="['/albums/', eventId()]">
        <i class="fa-regular fa-folder"></i>Albums
      </a>
    </ng-container>
    <ng-container *ngIf="albumId()">
      <span>/</span>
      <a *ngIf="albumId()" [routerLink]="['/gallery/', eventId(), albumId()]"
        ><i class="fa-regular fa-image"></i>Gallery
      </a>
    </ng-container>
  </div>
</div>
