<div class="login-container">
  <img src="circle.svg" alt="circle" />
  <img src="circle.svg" alt="circle" />
  <div class="content">
    <form (submit)="login($event)">
      <h1>Login</h1>
      <p>Please sign in to continue.</p>
      <input
        (input)="FormHelper.onInput(this, $event)"
        placeholder="email"
        name="email"
        class="default-input"
        required
      />
      <input
        (input)="FormHelper.onInput(this, $event)"
        placeholder="password"
        name="password"
        [type]="showPassword ? 'text' : 'password'"
        class="default-input"
        required
      />
      <button class="default-button" type="submit">login</button>
    </form>
  </div>
  <p>
    Don't have an account ?
    <a routerLink="/register">Sign up.</a>
  </p>
</div>
