<div class="login-container">
  <img src="circle.svg" alt="circle" />
  <img src="circle.svg" alt="circle" />
  <div class="content">
    <form (submit)="login($event)">
      <h1>Login</h1>
      <p>Please sign in to continue.</p>
      <input
        (input)="FormHelper.onInput(this, $event)"
        placeholder="email"
        name="email"
        type="email"
        class="default-input"
        required
      />
      <div class="row">
        <input
          (input)="FormHelper.onInput(this, $event)"
          placeholder="password"
          name="password"
          [type]="showPassword() ? 'text' : 'password'"
          class="default-input"
          required
        />
        @if (showPassword()) {
        <svg-icon
          [svgName]="'hidePassword'"
          (click)="togglePasswordVisibility()"
        ></svg-icon>
        } @else {
        <svg-icon
          [svgName]="'showPassword'"
          (click)="togglePasswordVisibility()"
        ></svg-icon>
        }
      </div>
      <button class="default-button" type="submit" [disabled]="loading()">
        @if (loading()) {<svg-icon [svgName]="'loading'"></svg-icon
        >}@else{login}
      </button>
    </form>
  </div>
  <p>
    Don't have an account ?
    <a routerLink="/register">Sign up.</a>
  </p>
</div>
