<div #overlay class="popup-overlay" (click)="close($event)">
  <div #container class="popup-container">
    <div
      #header
      class="popup-title"
      [style.justifyContent]="showCloseBtn ? 'space-between' : 'center'"
    >
      <span>{{ title }}</span>
      @if (showCloseBtn) {
      <i (click)="close()" class="fa-solid fa-xmark icon"></i>
      }
    </div>
    <div #content class="popup-content"><ng-content></ng-content></div>
    @if (actionButtons.length) {
    <div class="popup-controls">
      @for (button of actionButtons; track $index) {
      <button
        class="default-button"
        [ngStyle]="ActionButton.getStyles(button)"
        (click)="button.action ? button.action() : null"
        [attr.form]="button.formId"
        [type]="button.formId ? 'submit' : 'button'"
      >
        {{ button.text }}
      </button>
      }
    </div>
    }
  </div>
</div>
