<layout>
  <div class="events-container">
    <div class="header">
      <h1>
        My Events
        <p class="badge">{{ events.length }}</p>
      </h1>
      <button class="default-button">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <div class="content">
      @for (event of events; track $index) {
      <div class="card" [routerLink]="['/albums/', event.Id]">
        <img [src]="event.CoverPhoto" [alt]="event.Name" />
        <div class="overlay">
          <p>{{ event.Name }}</p>
          <p>{{ event.Date }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</layout>
