<div class="events-container">
  <div class="content">
    @for (event of events; track $index) {
    <div class="card" [routerLink]="['/albums/', event._id]">
      <img [src]="event.coverPhoto" [alt]="event.name" />
      <div class="overlay">
        <p>{{ event.name }}</p>
        <p>{{ event.startDate | date }}</p>
      </div>
      <div class="actions">
        <button class="default-button" (click)="deleteEvent($event)">
          delete
        </button>
        <button class="default-button" (click)="editEvent($event)">edit</button>
      </div>
      <div
        class="badge"
        [style.backgroundColor]="event.type | eventTypeColor"
      ></div>
    </div>
    }
  </div>

  <popup
    [visible]="!!action()"
    (visibleChange)="clearAction()"
    [animation]="PopupAnimation.SlideUp"
    [width]="'100%'"
    [height]="'auto'"
    [title]="actionTitle()"
    [actionButtons]="actionButtons()"
  >
    @switch (action()) { @case (Action.ADD) {
    <event-form></event-form>
    } @case (Action.UPDATE) {
    <event-form></event-form>
    } @case (Action.DELETE) {} }
  </popup>

  <toolbar
    [title]="'Events'"
    [action]="addEvent"
    [badgeCount]="events.length"
  ></toolbar>
</div>
