<div class="events-container">
  <div class="content">
    @for (event of events(); track $index) {
    <div class="card" [routerLink]="['/albums/', event._id.toString()]">
      <img
        [src]="event.coverPhoto"
        (error)="loadDefaultImage($event)"
        [alt]="event.name"
      />
      <div class="overlay">
        <p>{{ event.name }}</p>
        <p>{{ event.startDate | date }}</p>
      </div>
      <div class="actions">
        <button class="default-button" (click)="deleteEvent($event, event)">
          delete
        </button>
        <button class="default-button" (click)="editEvent($event, event)">
          edit
        </button>
      </div>
      <div
        class="badge"
        [style.backgroundColor]="event.type | eventTypeColor"
      ></div>
    </div>
    }
  </div>

  <popup
    [visible]="!!action()"
    (visibleChange)="clearAction()"
    [animation]="PopupAnimation.SlideUp"
    [width]="'100%'"
    [height]="'auto'"
    [title]="actionTitle()"
    [actionButtons]="actionButtons()"
  >
    @switch (action()) { @case (Action.ADD) {
    <event-form (onSuccess)="action.set(undefined)"></event-form>
    } @case (Action.UPDATE) {
    <event-form [action]="Action.UPDATE" [event]="selectedEvent()"></event-form>
    } @case (Action.DELETE) {} }
  </popup>

  <toolbar
    [title]="'Events'"
    [actionTitle]="'New Event'"
    [actionIcon]="'fa-solid fa-circle-plus'"
    [action]="addEvent"
    [badgeCount]="events().length"
  ></toolbar>
</div>
